# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno
.env

# Firebase credentials
serviceAccountKey.json
firebase-key.json

# Logs
*.log

# VS Code
.vscode/

# Mac
.DS_Store
